<a
  style="margin-bottom: 40px;"
  mat-list-item
  [ngStyle]="{ 'padding-left': depth * 12 + 'px' }"
  (click)="onItemSelected(item)"
  [ngClass]="{
    active: item.route ? router.isActive(item.route, true) : false,
    expanded: expanded
  }"
  class="menu-list-item"
>
<div class="row justify-content-center">
  <div class="col-4">
    <mat-icon *ngIf="item.photo == undefined" style="font-size: 40px; margin-left: 55px;" class="routeIcon outlined">{{
      item.iconName
    }}</mat-icon>

      <img *ngIf="item.photo != undefined" style="font-size: 40px; margin-bottom: 45px; margin-left: 55px;" class="ml-4" [src]='"../../assets/imgs/"+item.photo'/>
  </div>
  <div class="col-8 mt-2">
    <span style="font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 20px;">	&nbsp;	&nbsp;{{item.displayName}}</span>
  </div>


</div>
  <!-- {{item.displayName}} -->
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon
      class="rotate-icon"
      [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'"
    >
      expand_more
    </mat-icon>
  </span>
</a>
<!-- <div *ngIf="expanded">
  <app-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-menu-list-item>
</div> -->
