body{
    background-color: rgb(235, 245, 235);
  }
  mat-card{
    border-radius: 20px;
    overflow: hidden;
  }
  thead>tr>:nth-child(4){
    border-left: 1px solid grey;
  }
  tbody>tr>:nth-child(4){
    border-left: 1px solid grey;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #003F5C; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #003F5C; 
  }